.env
.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/environments/production.env
/environments/staging.env
/environments/local.env
environments/production.env*
*.env.bak
.env.bak
environments/production.env*
