.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Environment files
.env
*.env
*.env.bak
environments/production.env
environments/staging.env
environments/local.env

# AWS credentials
.aws/

# Secrets
secrets/
*.key
*.pem
